
*, body {
	font-family: Helvetica; 
	text-align: center;
	color: #FFFFFF;
	margin: 0;
}

section {
	min-height: 100vh;
}

.flex {
	display: flex;
}

.center{
	justify-content: space-around;
	align-items: center;
}

.hero{
	background-image: url(./images/background1.jpg);
	background-size: cover;
	background-position: center;
}

.title {
	border: 2px solid #FFFFFF; 
	padding: 20px; 
	margin: 20px; 
	font-size: 50px;
}