
*, body {
	font-family: Helvetica; 
	text-align: center;
}

section {
	min-height: 100vh;
}

.flex {
	display: flex;
}

.center{
	justify-content: space-around;
	align-items: center;
}

.title {
	border: 2px solid #000; 
	padding: 20px; 
	margin: 20px; 
	font-size: 50px;
}